<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="text-center">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Using bootstrap 5</p>
    <p>Login or play as guest</p>
  </body>
  <script src="/js/bootstrap.bundle.min.js"></script>
</html>
